<mat-toolbar-row fxLayoutAlign="space-between center" class="logo-toolbar theme-container">
    <!--<app-spurt-header></app-spurt-header>-->
    <a class="logo" routerLink="/" (click)="closeSubMenus()"><img src="assets/images/others/spurtCommerce.png"
                                                                  style="width: 232px; height: 56px"></a>
    <div fxFlex fxFlexOffset.gt-sm="10" fxShow="false" fxShow.gt-sm>
        <form method="get" class="search-form" fxLayout="row">
            <button mat-raised-button [matMenuTriggerFor]="categoriesMenu"
                    #categoriesMenuTrigger="matMenuTrigger" type="button"
                    class="mat-elevation-z0 categories text-truncate text-muted">Categories
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #categoriesMenu="matMenu" [overlapTrigger]="false" xPosition="before"
                      class="categories-dropdown">
                        <span (mouseleave)="categoriesMenuTrigger.closeMenu()">
                            <app-category-list [categories]="categories" [categoryParentId]="0"
                                               (change)="changeCategory($event)"></app-category-list>
                        </span>
            </mat-menu>
            <input type="text" placeholder="Type to search..." fxFlex (keyup)="searchData($event.target.value)">
            <button mat-mini-fab (click)="search()" type="button"
                    class="search-btn mat-elevation-z0 text-muted">
                <mat-icon>search</mat-icon>
            </button>
        </form>
    </div>

    <div fxFlexOffset="10" fxLayout="row" fxLayoutAlign="center center">
        <app-spurt-cart></app-spurt-cart>
    </div>

</mat-toolbar-row>