<app-sales-header></app-sales-header>
<div class="row products-section">
  <div class="col-12">
    <div class="card">
      <div class="product-ts-left">
        <ul>
          <li>
            <p>Total Order</p>
            <h3>{{layoutSandbox.totalOrderCount$ | async}}  <button type="button" class="btn" placement="right" ngbTooltip="Tooltip on right">
                <img src="assets/img/info-ico.png"> </button></h3>
          </li>
          <li>
            <p>Today Order</p>
            <h3>{{layoutSandbox.todayOrderCount$ | async}}  <button type="button" class="btn" placement="right" ngbTooltip="Tooltip on right">
                <img src="assets/img/info-ico.png"> </button></h3>
          </li>
          <li>
            <p>Total Order Amount</p>
            <h3> {{(layoutSandbox.todayOrderAmount$ | async) | currency:'INR'}}  <button type="button" class="btn" placement="right" ngbTooltip="Tooltip on right">
                <img src="assets/img/info-ico.png"> </button></h3>
          </li>
          <li>
            <p>Today Order Amount</p>
            <h3>{{(layoutSandbox.todayOrderAmount$ | async) | currency:'INR'}}  <button type="button" class="btn" placement="right" ngbTooltip="Tooltip on right">
                <img src="assets/img/info-ico.png"> </button></h3>
          </li>
        </ul>
      </div>
      <!--Left-->
      
    </div>
  </div>
</div>

<router-outlet></router-outlet>
