<div class="row products-section">
  <div class="col-12">
  </div>
  <div class="col-12">
    <div class="breadcrumbs-row">
      <div class="bc-col">
        <ul>
          <li> <a href="javascript:void(0)">{{'Customers.Customer.Customer'| translate}}  </a> </li>
          <li> {{'Customers.Customer.ViewCustomer'| translate}}   </li>
        </ul>
      </div>
      <div class="bc-col-btn">
      </div>
    </div>
  </div>
  <!--Breadcrumbs-->
</div>

<div class="flex viewcustomer-wrap">

  <div class="view-customer">
    <div class="flex vc-header">
      <div class="vch-detail">
        <div class="vchd-image"> <img src="assets/img/profile-img.png"> </div>
        <div class="vchd-content">
          <h3> Santhise Khan <sup>#00304</sup> </h3>
          <p> <span> <img src="assets/img/group-ico-sm.png"> </span> Group(Default) </p>
          <p class="d-inline-block"> <span> <img src="assets/img/mail-ico-sm.png"> </span> abhisek@piccosoft.com </p>
          <p class="d-inline-block"> <span> <img src="assets/img/mobile-ico-sm.png"> </span> (555-555) 5555 </p>
          <p> <span> <img src="assets/img/addr-ico-sm.png"> </span> No 145, 3rd avenue, Williamson Road, San Francisco (SA) </p>
        </div>
      </div>
      <!--Detail-->
      <div class="vch-social">
        <p> <a href="javascript:void(0)"> <img src="assets/img/mail-ico.png"> Mail </a> </p>
        <ul class="flex">
          <li><a href="javascript:void(0)"> <img src="assets/img/linked-in-ico.png"> </a> </li>
          <li><a href="javascript:void(0)"> <img src="assets/img/twitter-ico.png"> </a> </li>
          <li><a href="javascript:void(0)"> <img src="assets/img/google-plus-ico.png"> </a> </li>
        </ul>
      </div>
      <!--Social-->
    </div>
    <!--Header-->

    <div class="customer-activity">

      <article>

        <p> <span> Today </span> </p>

        <h5> Last Login Activity </h5>

        <div class="lastlog"> Dec 07 2018, 02:33 PM </div>

        <h5 class="logout"> Last Logout Activity </h5>

        <div class="lastlog llogout"> Dec 07 2018, 02:53 PM </div>

      </article>

      <article class="yesterday">

        <p> <span> Yesterday </span> </p>

        <h5 class="ylastlog"> Last Login Activity </h5>

        <div class="lastlog"> Dec 07 2018, 02:33 PM </div>

        <h5 class="logout ylogout"> Last Logout Activity </h5>

        <div class="lastlog llogout"> Dec 07 2018, 02:53 PM </div>

      </article>

    </div>
    <!---->

  </div>
  <!--Left-->

  <div class="buying-history">

    <h4> Buying History <span>4</span> </h4>

    <ul>
      <li class="flex">
        <div class="lcimg"> <img src="assets/img/product-cimg1.png"> </div>
        <div class="bh-content">
          <h5> Lorem Ipsum is dummy text for printing </h5>
          <p> Purchase Date : 10-12-18, 06:34 PM </p>
        </div>
        <h3>$100</h3>
      </li>
      <li class="flex">
        <div class="lcimg"> <img src="assets/img/product-cimg1.png"> </div>
        <div class="bh-content">
          <h5> Lorem Ipsum is dummy text for printing </h5>
          <p> Purchase Date : 10-12-18, 06:34 PM </p>
        </div>
        <h3>$100</h3>
      </li>
      <li class="flex">
        <div class="lcimg"> <img src="assets/img/product-cimg1.png"> </div>
        <div class="bh-content">
          <h5> Lorem Ipsum is dummy text for printing </h5>
          <p> Purchase Date : 10-12-18, 06:34 PM </p>
        </div>
        <h3>$100</h3>
      </li>
      <li class="flex">
        <div class="lcimg"> <img src="assets/img/product-cimg1.png"> </div>
        <div class="bh-content">
          <h5> Lorem Ipsum is dummy text for printing </h5>
          <p> Purchase Date : 10-12-18, 06:34 PM </p>
        </div>
        <h3>$100</h3>
      </li>
    </ul>

  </div>
  <!--Right-->

</div>

