<table class="table">
  <thead>
  <tr>
    <th scope="col" width="5%">
      <div class="form-group">
        <div class="custom-control custom-checkbox mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="checkbox1" value="check">
          <label class="custom-control-label" for="checkbox1"></label>
        </div>
      </div>
    </th>
    <th scope="col" width="70%">Customer Group Name</th>
    <th scope="col">Sort Order</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">
      <div class="form-group">
        <div class="custom-control custom-checkbox mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="checkbox2" value="check">
          <label class="custom-control-label" for="checkbox2"></label>
        </div>
      </div>
    </th>
    <td> Default (Default) </td>
    <td>1</td>
    <td>
      <a href="javascript:void(0)"> <img src="assets/img/edit-ico.png"> </a>
    </td>
  </tr>
  <tr>
    <th scope="row">
      <div class="form-group">
        <div class="custom-control custom-checkbox mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="checkbox3" value="check">
          <label class="custom-control-label" for="checkbox3"></label>
        </div>
      </div>
    </th>
    <td> E-Commerce </td>
    <td>1</td>
    <td>
      <a href="javascript:void(0)"> <img src="assets/img/edit-ico.png"> </a>
    </td>
  </tr>

  </tbody>
</table>
