


<div class="image-manager">
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Image Manager</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="flex search-nav" >
    <div class="search-section">
      <input placeholder="Search" type="text">
    </div>
    <div class="img-action-links">
      <ul class="flex" id="menu">
        <li *ngIf="(mediaSandbox.getBucketListData$ | async)?.Prefix as prefix"> <a href="javascript:void(0)" (click)="goBack(prefix)"> <img src="assets/img/back-ico.png"> </a> </li>
        <li> <a href="javascript:void(0)" (click)="getBucketList('')"> <img src="assets/img/refresh-ico.png"> </a> </li>
        <li>
          <input id="check01" type="checkbox" name="menu"/>
          <label for="check01"><img src="assets/img/file-open-ico.png"></label>
          <ul class="submenu">
            <li>Create Folder</li>
            <li>
              <input type="text" [(ngModel)]="textValue">
              <button (click)="createFolder()"> Create</button>
            </li>
          </ul>
        </li>
        <!--<li> <a href="javascript:void(0)" (click)="trash()"> <img src="assets/img/delete-file-ico.png"> </a> </li>-->
        <input type="file" (change)="uploadImageAction($event)" accept="image/*" #filePath style="display: none" />
        <li> <a href="javascript:void(0)" (click)="uploadImage()" class="upload-lnk"> Upload </a> </li>
      </ul>
    </div>
  </div>
  <div class="flex image-row">
     <div class="image-col" *ngFor="let folder of (mediaSandbox.getBucketListData$ | async)?.CommonPrefixes">
       <div class="img-bdy"> <img src="assets/img/file-img.png" (click)="openFolder(folder.Prefix)"> </div>
      <p>{{removeSlash(folder.Prefix)}}</p>
    </div>
    <div class="image-col" *ngFor="let images of (mediaSandbox.getBucketListData$ | async)?.Contents" (click)="selectFile(images.Key)">
      <div class="img-bdy">
        <img [src]="getImage(images.Key)">
      </div>
        <p>{{enhanceName(images.Key)}}</p>
    </div>
    <!--Col-->
  </div>
</div>
</div>