<div class="row products-section products-sub-section">
    <div class="col-12">
        <div class="breadcrumbs-row">
            <div class="bc-col">
                <ul>
                    <li><a href="javascript:void(0)">{{'Customers.Customer.Customer' | translate}}  </a></li>
                    <li> {{'Customers.Customer.Customers' | translate}}</li>
                </ul>
            </div>
            <div class="bc-col-btn">
                <button class="btn customer-btn" (click)="addaddresscustomer()"><img src="assets/img/add-white-ico.png">
                    {{'Customers.Customer.AddCustomer' | translate}}
                </button>
            </div>
        </div>
    </div>
    <!--Breadcrumbs-->
    <div class="col-12">
        <div class="flex filter-row">
            <div class="filter-lft">
                <div class="toggle">
                    <p>Filters</p>
                    <input class="tgl tgl-light" id="cb1" type="checkbox" (change)="check($event)"/>
                    <label class="tgl-btn" for="cb1"></label>
                </div>
            </div>
            <!--Lft-->
            <div class="filter-nav-list">
                <ul class="flex">
                    <li><a href="javascript:void(0)"> <img
                            src="assets/img/export-ico-green.png">{{'Customers.Customer.Export' | translate}} </a></li>
                    <li><a href="javascript:void(0)"> <img
                            src="assets/img/import-ico-green.png">{{'Customers.Customer.Import' | translate}} </a></li>
                    <li><a href="javascript:void(0)"> <img src="assets/img/list-ico.png"> </a></li>
                </ul>
            </div>
            <!--Right-->
        </div>
    </div>
</div>

<div class="flex product-wrap example-full-width">

    <div *ngIf="buttoncheck == true" class="filter-section">
        <div class="w3-container w3-animate-left">


            <app-customer-filter (ProgressEmit)="receiveProgress($event)"></app-customer-filter>

        </div>
        <!--Filter-->
    </div>
    <div class="product-table" [ngClass]="{'changesize': buttoncheck == true }">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" width="5%">

                    </th>
                    <th scope="col">{{'Customers.Customer.ID'| translate}} </th>
                    <th scope="col">{{'Customers.Customer.Name'| translate}}</th>
                    <th scope="col">{{'Customers.Customer.E-mailId'| translate}}</th>
                    <th scope="col">{{'Customers.Customer.Group'| translate}}</th>
                    <th scope="col">{{'Customers.Customer.DateAdded'| translate}} </th>
                    <!--<th scope="col">IP</th>-->
                    <th scope="col">{{'Customers.Customer.Address'| translate}}</th>
                    <th scope="col">{{'Customers.Customer.Action'| translate}}Action</th>
                    <th scope="col" width="100px">{{'Customers.Customer.Status'| translate}}</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let customelist of sandbox.getCustomerlist$ | async;">
                    <th scope="row">

                    </th>
                    <td>{{customelist.id}} </td>
                    <td>{{customelist.firstName}}</td>
                    <td>{{customelist.email}}</td>
                    <td>Default</td>
                    <td>{{customelist.createdDate | date :  "dd-MM-yyyy"}}</td>
                    <td><a href="javascript:void(0)"
                           (click)="open2( content , customelist.id)">{{'Customers.Customer.View'| translate}}  </a></td>

                    <td>
                        <a href="javascript:void(0)" (click)="editcustomer(customelist)"> <img
                                src="assets/img/edit-ico.png"> </a>
                        <i [ngbPopover]="deleteContent" placement="bottom" #deletePop="ngbPopover"
                           style="margin-left: -2px;padding:10px" class="fas fa-trash">
                            <ng-template #deleteContent>
                                <div class="style">
                                    <div class="modal-header">
                                        <h6 class="modal-title"
                                            style="margin-left: 17%;"> {{'CMS.Error.DoyouWantToDelete?'| translate}}</h6>

                                    </div>

                                    <div class="modal-footer" style="margin-right: 23%;">
                                        <button type="button" class="btn btn-danger" (click)="deletePop.close()"
                                                data-dismiss="modal">{{'CMS.Pages.No'| translate}}
                                        </button>
                                        <button type="button" class="btn btn-success"
                                                (click)="deletecustomer(customelist.id, deletePop)"
                                                data-dismiss="modal">{{'CMS.Pages.Yes'| translate}}
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </i>
                        <!--<a  href="javascript:void(0)" (click)="deletecustomer(customelist.id)"> <img src="assets/img/delete-file-ico.png"> </a>-->
                        <a href="javascript:void(0)" (click)="viewcustomer()"> <img src="assets/img/view-ico.png"> </a>
                    </td>
                    <td>
                        <!--<div class="toggle">-->
                        <!--<input class="tgl tgl-light" id="cb3" type="checkbox"/>-->
                        <!--<label class="tgl-btn" for="cb3"></label>-->
                        <!--{{'Customers.Customer.Active'| translate}}-->
                        <!--</div>-->
                        <div class="toggle">
                            <input class="tgl tgl-light" id={{customelist.id}} [(ngModel)]="customelist.isActive"
                                   type="checkbox"/>
                            <label class="tgl-btn" for={{customelist.id}}></label>
                            {{'Customers.Customer.Active'| translate}}
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
            <mat-paginator
                    [length]="sandbox.getpagination$ | async"
                    [pageIndex]="index"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </div>
    <!--Table-->


</div>

