<div class="row products-section products-sub-section">
    <div class="col-12">
        <div class="breadcrumbs-row">
            <div class="bc-col">
                <ul>
                    <li><a href="javascript:void(0)"> {{'catalog.categories.Catalog'| translate}} </a></li>
                    <li> {{'catalog.categories.Categories'| translate}} </li>
                </ul>
            </div>
            <div class="bc-col-btn">
                <button class="btn" (click)="addCategories()"><img
                        src="assets/img/add-white-ico.png">{{'catalog.categories.AddCategories'| translate}} </button>
            </div>
        </div>
    </div>
    <!--Breadcrumbs-->
    <div class="col-12">
        <div class="flex filter-row">
            <div class="filter-lft">
                <div class="toggle">
                    <p>Filters</p>
                    <input class="tgl tgl-light" id="cb1" type="checkbox" [checked]="false"
                           (change)="changeFilter($event)"/>
                    <label class="tgl-btn" for="cb1"></label>
                </div>
            </div>
            <!--Lft-->
            <div class="filter-nav-list">
                <ul class="flex">
                    <!--<li> <a [ngStyle]="{'opacity': checkedArray.length !== 1 ? '.65' : '1' }" [ngbPopover]="checkedArray.length === 1 ? deleteContent : null" placement="bottom"  > <img src="assets/img/delete-ico.png"> Delete </a>-->
                    <!--</li>-->
                    <li><a href="javascript:void(0)"> <img
                            src="assets/img/export-ico.png">{{'catalog.categories.Export'| translate}} </a></li>
                    <li><a href="javascript:void(0)"> <img
                            src="assets/img/import-ico.png"> {{'catalog.categories.Import'| translate}} </a></li>
                    <li><a href="javascript:void(0)"> <img src="assets/img/list-ico.png"> </a></li>
                </ul>
            </div>
            <!--Right-->
        </div>
    </div>
</div>

<div class="flex product-wrap example-full-width">

    <div *ngIf="buttonCheck == true" class="filter-section">


        <div class="w3-container w3-animate-left">

            <app-spurt-catalog-categories-filter (progressEmit)="receiveProgress($event)" >
            </app-spurt-catalog-categories-filter>


        </div>
    </div>
    <!--Filter-->
    <div class="product-table" [ngClass]="{'changesize': buttonCheck == true }">
        <div class="table-responsive">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col" width="5%">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                            </div>
                        </div>
                    </th>
                    <th scope="col" width="60%">{{'catalog.categories.CategoriesName'| translate}}</th>
                    <th scope="col" class="text-center">{{'catalog.categories.SortOrder'| translate}}</th>
                    <th scope="col" class="text-center">{{'catalog.categories.Action'| translate}}</th>
                    <th scope="col" width="100px" class="text-center">Status</th>
                </tr>
                </thead>
                <tbody>
                <!--response from category list or category filter list-->
                <tr *ngFor="let data of categorySandbox.getCategoriesList$ | async ; let i=index">
                    <th scope="row">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                            </div>
                            <!--(click)="checkb(arr.categoryId)"-->
                        </div>
                    </th>
                    <td>{{data.name}}</td>
                    <td class="text-center">{{data.sortOrder}}</td>
                    <td class="text-center">
                        <a href="javascript:void(0)" (click)="editCategory(data)"> <img src="assets/img/edit-ico.png">
                        </a>
                        <!--<i (click)="deletecat(data.categoryId)" style="margin-left: 15px;" class="fas fa-trash"></i>-->
                        <i [ngbPopover]="deleteContent" placement="bottom" #deletePop="ngbPopover"
                           style="margin-left: 15px;" class="fas fa-trash">
                            <ng-template #deleteContent>
                                <div class="style">
                                    <div class="modal-header">
                                        <h6 class="modal-title"
                                            style="margin-left: 17%;"> {{'catalog.product.DoYouWantToDelete'| translate}}</h6>

                                    </div>

                                    <div class="modal-footer" style="margin-right: 23%;">
                                        <button type="button" class="btn btn-danger" (click)="deletePop.close()"
                                                data-dismiss="modal">{{'catalog.product.No'| translate}}</button>
                                        <button type="button" class="btn btn-success"
                                                (click)="deleteCategory(data.categoryId)"
                                                data-dismiss="modal">{{'catalog.product.Yes'| translate}}</button>
                                    </div>
                                </div>
                            </ng-template>

                        </i>


                    </td>
                    <td class="text-center">
                        <div class="toggle">
                            <input class="tgl tgl-light" id={{data.name}} [(ngModel)]="data.isActive" type="checkbox"/>
                            <label class="tgl-btn" for={{data.name}}></label>
                            {{'catalog.categories.Active'| translate}}
                        </div>
                    </td>
                </tr>
                </tbody>

            </table>


            <mat-paginator
                    [length]="categorySandbox.getCategoriesListCount$ | async"
                    [pageSize]="pageSize"
                    [pageIndex]="index"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="onPageChange($event)">
            </mat-paginator>


            <!--<mat-paginator [length]="categorySandbox.getUpdateCatountdatas$ | async" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"-->
            <!--(page)="onPageChange($event)">-->
            <!--</mat-paginator>-->

        </div>
    </div>
    <!--Table-->
</div>
<ng-template #deleteContent>
    <div class="style">
        <div class="modal-header">
            <h6 class="modal-title" style="margin-left: 17%;"> Do you want to delete ?</h6>

        </div>

        <div class="modal-footer" style="margin-right: 23%;">
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-success" (click)="deleteProduct($event)" data-dismiss="modal">Yes
            </button>
        </div>
    </div>
</ng-template>
