<mat-toolbar-row fxLayoutAlign="space-between center" class="top-toolbar theme-container">
    <!--<span fxHide="false" fxHide.gt-sm>-->
    <!--<span>-->
                <!--<button mat-button (click)="sidenav.toggle()" class="sidenav-toggle">-->
                    <!--<mat-icon>menu</mat-icon>-->
                <!--</button>-->
            <!--</span>-->
    <span fxShow="false" fxShow.gt-xs fxLayoutAlign="center center"><mat-icon
            class="mat-icon-sm">call</mat-icon>  Hotline: (+100) 123 456 7890 </span>
    <span fxShow="false" fxShow.gt-sm>Welcome to our market!</span>
    <app-top-menu></app-top-menu>
</mat-toolbar-row>
